
body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.page-container {
    min-width: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2% 3% 2% 3%;
}

h1{
    color: white;
    font-size: 26pt; 
    padding-bottom: 1rem;
    text-align: left;
}

h2{
    color: #1F4E79;
    text-transform: uppercase;
    font-size: 18pt;
    margin-top: 1rem;
    padding-left: 1rem;
    font-weight: bold;
}

h3{
    background-color: #1F4E79;
    font-size: 13pt;
    color: white;
    padding-left: 1rem;
    line-height: 2rem;
}

p, li, ul {
    font-size: 12pt;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-decoration: underline
}

.coluna1 {
    background-color: #2E75B6;
    min-width: 300px;
    max-width: 400px;
    flex: 1 1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    margin: 2% 0 2% 3%;
    padding: auto;
}

.coluna1 h1{
    margin-top: 1rem;
}

.coluna1-id {
    padding: 0 1rem 0 1rem;
}

.coluna1 p, .coluna1 li{
    color: white;
}

#img-perfil {
    padding: 5% 15% 5% 15%; 
}

#foto-perfil {
    display: block;
    border: white solid 0.2rem;
    width: 100%;
}

.dual-text p {
    margin: 0;
}

.dual-text{
    margin: 1rem 0 1rem 0;
}

.dual-text p:first-child {
    font-weight: bold;
}

.coluna1-info li {
    margin: 1rem 0 1rem 0;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

li {
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 0;
}

#primeiro-ul {
    list-style-type: none;
    list-style-position: outside;
}

.texto-l {
    margin: 1rem;
}

.fill-box{
    background-color: #1F4E79;
    display: block;
    margin: 0 10% 0 10%;
    border-radius: 1rem;
    height: 1.5rem;
    margin-bottom: 1rem;
}

.filler1 {
    background-color: white;
    width: 85%;
    height: 100%;
    border-radius: 1rem;
}

.filler2 {
    background-color: white;
    width: 15%;
    height: 100%;
    border-radius: 1rem;
}

.coluna2 {
    min-width: 300px;
    max-width: 800px;
    flex: 1 2;
    margin: 2% 3% 2% 0;
}

.coluna2-objetivo {
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
    padding: 1rem 0 1rem 0;
    border-radius: 0.5rem;
}

.coluna2-objetivo p {
    padding: 1rem;
    line-height: 1.5rem;
}

.coluna2-educação-formação {
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
    padding: 1rem 0 1rem 0;
    border-radius: 0.5rem;
}

.coluna2-educação-formação ul {
    margin: 1rem 2rem 2rem 0;
    list-style-type: none;
    list-style-position: outside;
}

.coluna2-item1 {
    margin: 1rem 0 1rem 0;
}

.border-line {
    border-bottom: 5px solid #eee;
    height: 2px;
    margin: 0 1rem 0 1rem;
}

.coluna2-educação-formação li {
    line-height: 2rem;
}


.coluna2-educação-formação ul li:nth-child(2) {
    font-weight: bold;
    font-size: 16pt;
}

.coluna2-experiência-profissional{
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
    padding: 1rem 0 1rem 0;
    border-radius: 0.5rem;
}

.item-cep {
    margin: 1rem 0 2rem 1rem;
}

.text-cep {
    margin-bottom: 1rem;
}

.text-cep p:nth-child(2) {
    font-weight: bold;
    font-size: 16pt;
}

.coluna2-experiência-profissional p {
    margin: 0;
    line-height: 2rem;
}

.coluna2-experiência-profissional li {
    margin-left: 0;
    line-height: 2.5rem;
}

.coluna2-projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
    padding: 0 0 1rem 0;
    border-radius: 0.5rem;
}

.titulo-container{
    grid-row: 1 / 2;
    grid-column: 1/ 4;
    text-align: left;
    margin: 1rem 0 2rem 0;
}

.titulo-projeto1{
    grid-row: 2 / 3;
    grid-column: 1/ 4;
    text-align: center;
    margin: 0.7rem;
    font-weight: bold;
}

.descricão-projeto1{
    grid-row: 3 / 4;
    grid-column: 1/ 3;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.botão-projeto1{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    text-align: center;
    align-self: center;
    margin: 0 1rem 2rem 1rem;
}

.titulo-projeto2{
    grid-row: 4 / 5;
    grid-column: 1/ 4;
    text-align: center;
    margin: 0.7rem;
    font-weight: bold;
}

.descricão-projeto2{
    grid-row: 5 / 6;
    grid-column: 1/ 3;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.botão-projeto2{
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    text-align: center;
    align-self: center;
    margin: 0 1rem 2rem 1rem;
}

input[type=button] {
    background-color: #2E75B6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    height: 2rem;
}

.titulo-projeto {
    font-size: 16pt;
}