
body {
    background-color: #f2f2f2;
}

.page-container {
    min-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2% 10% 2% 10%;
}

h1{
    color: white;
    font-size: 18pt; 
    padding-bottom: 1rem;
    text-align: left;
}

h2{
    color: #1F4E79;
    text-transform: uppercase;
    font-size: 18pt;
    margin-top: 1rem;
    padding-left: 1rem;
}

h3{
    font-size: 1.1rem;
    background-color: #1F4E79;
    color: white;
    padding-left: 1rem;
    line-height: 2rem;
}

p {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-decoration: underline
}

.coluna1 {
    background-color: #2E75B6;
    min-width: 300px;
    flex-basis: 40%;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.571),
                0 0 1rem rgba(0, 0, 0, 0.571);
}

.coluna1 h1{
    margin-top: 1rem;
}

.coluna1-id {
    padding: 0 1rem 0 1rem;
}

.coluna1 p, .coluna1 li{
    color: white;
}

#img-perfil {
    padding: 5% 15% 5% 15%; 
}

#foto-perfil {
    display: block;
    border: white solid 0.2rem;
    width: 100%;
}

.dual-text p {
    margin: 0;
}

.dual-text{
    margin: 1rem 0 1rem 0;
}

.dual-text p:first-child {
    font-weight: bold;
}

.coluna1-info li {
    margin: 1rem 0 1rem 0;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

li {
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 0;
}

#primeiro-ul {
    list-style-type: none;
    list-style-position: outside;
}

.coluna2 {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    flex-basis: 40%;
    align-self:stretch;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.571);
}

.coluna2-educação-formação ul {
    margin: 2rem 2rem 2rem 0;
    list-style-type: none;
    list-style-position: outside;
}

.coluna2-educação-formação li {
    line-height: 1.2rem;
}

.coluna2-educação-formação ul li:nth-child(2) {
    font-weight: bold;
}

.item-cep {
    margin: 2rem 0 2rem 1rem;
}

.text-cep {
    margin-bottom: 1rem;
}

.text-cep p:nth-child(2) {
    font-weight: bold;
}

.coluna2-experiência-profissional p {
    margin: 0;
    line-height: 1.2rem;
}

.coluna2-experiência-profissional li {
    margin-left: 0;
    line-height: 1.5rem;
}

.coluna2-projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.titulo-container{
    grid-row: 1 / 2;
    grid-column: 1/ 4;
    text-align: left;
    margin: 2rem 0 2rem 0;
}

.titulo-projeto1{
    grid-row: 2 / 3;
    grid-column: 1/ 4;
    text-align: center;
    margin: 0.7rem;
    font-weight: bold;
}

.descricão-projeto1{
    grid-row: 3 / 4;
    grid-column: 1/ 3;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.botão-projeto1{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    text-align: center;
    align-self: center;
    margin-bottom: 2rem;
}

.titulo-projeto2{
    grid-row: 4 / 5;
    grid-column: 1/ 4;
    text-align: center;
    margin: 0.7rem;
    font-weight: bold;
}

.descricão-projeto2{
    grid-row: 5 / 6;
    grid-column: 1/ 3;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.botão-projeto2{
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    text-align: center;
    align-self: center;
    margin-bottom: 2rem;
}